/* import google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Lobster&family=Manrope:wght@500&family=Poppins:wght@400;600&family=Prompt&display=swap");

.bebas-neue {
  font-family: "Bebas Neue", cursive;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

/* body part design  */
.card-title,
.readMore,
.category_item {
  cursor: pointer;
}
.active {
  color: #fff;
  background-color: darksalmon;
}
